.container{
    height: 500px;
    width: 500px;
    background-color: green;
    border: 3px soild red;
    display: flex;
}
.box{
    height: 150px;
    width: 150px;
    margin: 20px;
    border: 2px solid brown;
    background-color: aqua;

    /* transition: 2s; */
    
    /* transition-property: all; */
    /* but its a bad practice */

    /* transition-property: background-color; */
    /* the transition shorthand property has 4 componentes
    property/duration/transition-timing-function/delay */
     /* transition: background-color 1s ease ;
     transition: transform 1s ease 30s; */

     transition: all 5s ease 1s;
}

.box:hover{
    background-color: brown;
    transform: translateX(500px) rotate(360deg);
    
}